.pageRoot {
	@apply flex flex-row h-screen w-screen;
}

.pageContent {
	@apply w-full flex flex-col h-screen overflow-x-auto;
}

.mainContent {
	@apply h-screen overflow-y-auto flex flex-col;
	scrollbar-gutter: stable;

	.flexContainer {
		@apply flex flex-col flex-1;
	}
}

.noScroll {
	overflow: hidden;
	height: 100vh;
}
